<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Plantasy", suffix: " · Plan your dream life" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script async src="https://cdn.panelbear.com/analytics.js?site=3Vmzs07gnCA"></script>
    <script>
        window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
        panelbear('config', { site: '3Vmzs07gnCA' });
    </script>
  </head>
  <body class="wrapper">
    <header>
    <div class="pt-6 text-center">
      <h1 class="text-6xl text-gray-700">Plantasy</h1>
    </div>
    </header>
    <div>
      <div class="lg:w-1/2 m-auto mb-6">
        <p class="text-center text-gray-600 text-3xl">
          Plantasy is a <a href="https://www.thefastlaneforum.com/community/threads/ny-resolutions-no-try-making-a-1-5-10-planasy.102441/">goal-setting technique</a> to help you take the right decisions to get where you want to be.
        </p>
      </div>
      <%= @inner_content %>
    </div>
    <footer class="bg-gray-50">
      <div class="py-2 text-center">
      1/5/10 Plantasy is a concept by <a href="https://www.thefastlaneforum.com/community/threads/ny-resolutions-no-try-making-a-1-5-10-planasy.102441/">MJ Demarco</a>
      · Website made by <a href="https://twitter.com/jean_arguin">jeanarjean</a>
      · Repo available <a href="https://github.com/jeanarjean/plantasy">here</a>
      </div>
    </footer>
  </body>
</html>
